In [1]:
%load_ext sql

In [2]:
%sql ibm_db_sa://gwk34909:mmpzn4lxm^29kft0@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB

'Connected: gwk34909@BLUDB'

CENSUS_DATA  
CHICAGO_PUBLIC_SCHOOLS  
CHICAGO_CRIME_DATA

In [3]:
%sql select count (*) from CENSUS_DATA

 * ibm_db_sa://gwk34909:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('78'),)]

In [4]:
%sql select count (*) from CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://gwk34909:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('566'),)]

In [5]:
%sql select count (*) from CHICAGO_CRIME_DATA

 * ibm_db_sa://gwk34909:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

In [6]:
# first we get how many community are we have 
%sql select count (distinct (COMMUNITY_AREA_NUMBER)) from CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://gwk34909:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('77'),)]

In [7]:
# how many recored we have 
%sql select count (*) from CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://gwk34909:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('566'),)]

In [8]:
# get average
566/77

7.35064935064935

In [9]:
%sql select HEALTHY_SCHOOL_CERTIFIED  from CHICAGO_PUBLIC_SCHOOLS  where HEALTHY_SCHOOL_CERTIFIED = 'yes'

 * ibm_db_sa://gwk34909:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[]

In [10]:
%sql select count (LOCATION_DESCRIPTION) from CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION = 'GAS STATION'

 * ibm_db_sa://gwk34909:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('6'),)]

In [11]:
%sql select count (PRIMARY_TYPE) from CHICAGO_CRIME_DATA where PRIMARY_TYPE = 'MOTOR VEHICLE THEFT'

 * ibm_db_sa://gwk34909:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('24'),)]

In [12]:
%sql Select S.COMMUNITY_AREA_NUMBER, S.COMMUNITY_AREA_NAME, count (S.NAME_OF_SCHOOL )  as school_count from \
CHICAGO_PUBLIC_SCHOOLS S INNER JOIN CENSUS_DATA C \
ON S.COMMUNITY_AREA_NUMBER = C.COMMUNITY_AREA_NUMBER \
GROUP BY  S.COMMUNITY_AREA_NUMBER, S.COMMUNITY_AREA_NAME \
order by school_count DESC \
LIMIT 10

 * ibm_db_sa://gwk34909:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(25, 'AUSTIN', Decimal('23')),
 (30, 'SOUTH LAWNDALE', Decimal('22')),
 (24, 'WEST TOWN', Decimal('20')),
 (68, 'ENGLEWOOD', Decimal('17')),
 (28, 'NEAR WEST SIDE', Decimal('16')),
 (29, 'NORTH LAWNDALE', Decimal('16')),
 (23, 'HUMBOLDT PARK', Decimal('13')),
 (61, 'NEW CITY', Decimal('13')),
 (49, 'ROSELAND', Decimal('13')),
 (27, 'EAST GARFIELD PARK', Decimal('13'))]

In [13]:
%sql Select COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, HARDSHIP_INDEX FROM CENSUS_DATA WHERE HARDSHIP_INDEX = 96

 * ibm_db_sa://gwk34909:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(30, 'South Lawndale', 96)]

In [14]:
%sql  SELECT AVERAGE_STUDENT_ATTENDANCE FROM CHICAGO_PUBLIC_SCHOOLS WHERE \
      COMMUNITY_AREA_NUMBER =  \
      (Select COMMUNITY_AREA_NUMBER FROM CENSUS_DATA WHERE HARDSHIP_INDEX = 96 ) \
       ORDER BY AVERAGE_STUDENT_ATTENDANCE ASC\
       LIMIT 1

 * ibm_db_sa://gwk34909:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('86.10%',)]